<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="CardIP" value="10.76.96.123"/>
    <add key="CardPort" value="58258"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="oracle" connectionString="Data Source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 0.tcp.jp.ngrok.io)(PORT = 16512)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = lmistest)) );Persist Security Info=True;User ID=MES;Password=Hncsie_Mes_201905" providerName="System.Data.OracleClient"/>-->
    <add name="oracle" connectionString="Data Source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.76.96.20)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = lmistest)) );Persist Security Info=True;User ID=MES;Password=Hncsie_Mes_201905" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <!--Oracle数据库服务器可以通过ngrok反向代理到本地：ngrok.exe tcp -region=jp 192.168.11.158:1521-->
</configuration>