<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="CardIP" value="10.76.96.123"/>
    <add key="CardPort" value="58258"/>
  </appSettings>
  <connectionStrings>
    <add name="oracle"
      connectionString="Data Source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 0.tcp.ap.ngrok.io)(PORT = 11465)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = lmistest)) );Persist Security Info=True;User ID=MES;Password=Hncsie_Mes_201905"
      providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>